*{
    margin: 0;
    padding: 0;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}



/*-------estilos del header------*/

.header-all .navbar{
    justify-content: center;
    position: sticky;
}

.navbar-toggler{
    margin: 20px;
}

.header-all .navbar .navbar-brand{
    color: #def4c6;
    margin: 20px;
}


.header-all .navbar .navbar-nav .nav-item .nav-link{
    color:#def4c6;
}


/*--------estilos del main-------*/

main{
    background-color:#33a560;
}

.texto-principal h1{
    font-size: 35px;
    text-align: right;
    padding: 10px 10px;
}

.imgDecoracion{
    width: 500px;
    height: 605px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    border-radius: 30px;
}

.conteinerImg{
    display: flex;
    justify-content: center;
}

/*--- estilos del main page:work----*/

.title h2{
    color: #def4c6;
    text-align: center;
    text-decoration: underline dotted;
    padding-top: 30px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    padding: 20px;
    gap: 15px;
    grid-auto-flow: dense;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-position: centers;
}

.grid-item img{
    height: 200px;
    width: 300px;
    border: #def4c6 solid 5px;
}

.grid-item img:hover{
    filter: opacity(0.9);
}

/*----------estilos footer------------*/
footer{
    background-color:#33a560;
    text-align: center;
    padding-bottom: 20px;
}

footer .footer-texto p{
    margin: 0;
}

