$green-dark-color:#084e31;
$green-light-color: #33a560;
$white-color:#def4c6;
$green-light-light-color:#b6eea6;




.main-contact{
    color: $white-color;
    background-color: $green-dark-color;
    height: 29.7rem;
    .text-contact{
        text-align: center;
        padding-top: 2em;
        font-style: italic;
        padding-left: 1em;
        padding-right: 1em;
    }
}

form{
    padding-top: 4em;
    padding-left: 2.5em;
    padding-right: 2.5em;

    .mb-3 .form-text{
        color: $white-color;
    }
}


.container-fluid{
    .display-contact{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2em;
    }
    .contact-social-media{
        border: solid $green-light-light-color 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 0.5em;
        margin-top: 3.5em;
        height: 10rem;
        width: 17.5rem;
        img:hover{
            transform: scale(1.1);
            transition-duration: 1.5s;
        }
    }
}
