$background-other: url(../img/ronit-shaked-2tNMDLI7nm4-unsplash.jpg);
$green-color: #1b512d;
$white-color:#def4c6;
$green-light-light-color:#b6eea6;
$img-width-other:29rem;
$img-height-other:39rem;


.main-other{
    background: $background-other;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    .title-o{
        h2{
            color: #def4c6;
            font-size: 3em;
            text-align: center;
            text-decoration: underline dotted;
            padding-top: 2.5em;
            padding-bottom: 1.5em;
            padding: 1em;
        }

        h6{
            font-size: x-large;
            text-align: center;
            color: $white-color;
            padding-bottom: 3em;
            padding: 0.5em;
        }
    }
}


.grid-container-work{
    padding: 1em;
    padding-bottom: 12em;
    gap: 20px;
    grid-auto-flow: dense;
}

.grid-item-work{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-position: centers;
    padding-top: 8em;
    padding-bottom: 8em;
    p{
        color: $green-color;
        font-size: medium;
        background-color: $green-light-light-color;
        box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
        padding: 1em;
        border: $green-color solid 0.2px;
        border-radius: 4px;
        font-style: italic;
    }
    img{
        height: $img-height-other;
        width: $img-width-other;
        border: $white-color solid 10px;
        border-radius: 5px;
        border-bottom: $white-color solid 6.9rem;
    }
    img:hover{
        filter: opacity(0.9);
    }
}



