@use 'assets/footer';
@use 'assets/header';
@use 'index';
@use 'work';
@use 'other';
@use 'about';
@use 'contact';




*{
    margin: 0;
    padding: 0;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Roboto Mono', monospace;

}

html {
    scroll-behavior: smooth;
}


.title h2{
    color: #def4c6;
    text-align: center;
    text-decoration: underline dotted;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (max-width: 770px){
    .main-contact{
        height: 45rem;
    }
}


@media (max-width: 600px){
    .texto{
        padding: 1em;
    }
    .imagen{
        margin-bottom: 5em;
    }
    .grid-item-work img{
        width: 70%;
        height: 95%;
    }

    .main-other{
        width: 100%;
    }

}



@media (max-width: 480px){
        .grid-item-work img{
        width: 80%;
        height: fit-content;
    }
    .grid-item-work{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        width: 65%;
        margin-left: 3%;
        padding-left: 1.1em;
    }
    .imagen{
        margin-bottom: 5em;
    }
    .texto-principal h2{
        font-size: 1.5em;
    }
    .texto-principal h1{
        font-size: 2.5em;
    }
}



@media (max-width: 320px) {
    

    .main-other .title h6{
        padding: 2em 2em;
    }


    .grid-item-work{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-auto-rows: minmax(10rem, auto);
        width: 15rem;
        align-items: center;
        justify-content: center;
        padding-left: 2.6em;
        margin: 2%;
    }
    
    .grid-item-work img{
        width: 12rem;
        height: 18rem;
    }

    .grid-container{
        padding: 3.5em;
    }

    .grid-item{
        width: 10rem;
    }


    .grid-container .grid-item img{
        width: 12rem;
        height: 10rem;
    }

    .texto{
        width: 13em;
        height: 39em;
    }
    .imagen{
        margin-bottom: 5em;
    }
    .img-yo{
        width: 18rem;
        height: 32em;
    }

    .conteinerImg{
        display: grid;
        grid-template-columns: 1fr;
    }

    .conteinerImg .imgDecoracion{
        width: 50%;
    }


    .texto-principal h1{
        font-size: 3em;
        padding-top: 1em;
    }

    .texto-principal h2{
        font-size: 1em;
    }
}


