$color-footer: #33a560;

footer{
    background-color: $color-footer;
    text-align: center;
    padding-top: 0.8em;
    height: 12vh;
    .footer-texto{
        p{
            margin: 0;
        }
    }
    .redes-sociales{
        a{
            img:hover{
                transform: scale(1.1);
                transition-duration: 0.5s;
            }
        }
    }
}